<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.readyent.readyx.mapper.AuthMapper">
<!--    <select id="sendVerificationCode"-->
<!--            resultType="com.readyent.readyx.domain.dto.response.AuthRequestDto$GetMemberResponse">-->
<!--        SELECT-->
<!--               mobile_number,-->
<!--               status-->
<!--        FROM readyx.member-->
<!--        WHERE mobile_number = #{phoneNumber}-->
<!--        ORDER BY created_at DESC-->
<!--        LIMIT 1;-->
<!--    </select>-->
    <select id="findMemberByMobileNumberCount"
            resultType="com.readyent.readyx.domain.dto.response.PaginationResponseDto$TotalCountResponse">
        SELECT COUNT(*) total_count
        FROM readyx.member
        WHERE mobile_number = #{phoneNumber}
    </select>
</mapper>